### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [48]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pymoli_df = purchase_data
# pymoli_df.head

## Player Count

* Display the total number of players

In [49]:
# find number of total player 
pymoli_df['SN'].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
# calculations for purchases
number_of_items = pymoli_df['Item Name'].nunique()
average_price = pymoli_df['Price'].mean()
total_purchases = pymoli_df['Purchase ID'].count()
total_revenue = average_price * total_purchases

In [51]:
# calculations into data frame
pa_summary_df = pd.DataFrame({
    "Number of Items":[number_of_items],
    "Average Price":[average_price],
    "Total Purchases":[total_purchases],
    "Total Revenue":[total_revenue]
})

In [52]:
# display data frame
pa_summary_df

   Number of Items  Average Price  Total Purchases  Total Revenue
0              179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#calculate count & percent of gender
gender_count=pymoli_df['Gender'].value_counts()
gender_percent= (pymoli_df['Gender']).value_counts()/(pymoli_df['SN'].count())

In [14]:
# Convert into data frame
gender_count_df=pd.DataFrame(gender_count)
gender_count_df['Percentage of Players']=gender_percent

In [19]:
# Percentage
gender_count_df.style.format({'Percentage of Players': "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#purchases by gender
purchase_gender_df=pymoli_df.groupby('Gender')
player_count=purchase_gender_df['Gender'].count()

#average price per gender
avg_price_gender=purchase_gender_df['Price'].mean()

#total purchase value per gender
purchase_gender_sum=purchase_gender_df['Price'].sum()

#average purchase total per person by gender
average_price_by_user_by_gender=purchase_gender_sum/player_count

#Put into dataframe
Gender_purchases_summary_df=pd.DataFrame(player_count)
Gender_purchases_summary_df['Average Price by Gender']=avg_price_gender
Gender_purchases_summary_df['Total Purchases by Gender']=purchase_gender_sum
Gender_purchases_summary_df['Average User Purchase Price by Gender']=average_price_by_user_by_gender

Gender_purchases_summary_df

,Gender,Average Price by Gender,Total Purchases by Gender,Average User Purchase Price by Gender
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

pymoli_df["Total Count"] = pd.cut(pymoli_df["Age"], bins, labels=bin_labels)
pymoli_age = pymoli_df[['Total Count','SN']].drop_duplicates(subset = 'SN')

age_summary = pymoli_age.groupby("Total Count").count()
age_counts = age_summary['SN']
age_percentages = round(age_counts / 576 * 100, 2)
age_percentages

age_summary_df = pd.DataFrame([age_counts, age_percentages])

age_df = age_summary_df.T

age_df.columns = ['Total Count', 'Percentage of Players']

age_df.head()

             Total Count  Percentage of Players
Total Count
<10                 17.0                   2.95
10-14               22.0                   3.82
15-19              107.0                  18.58
20-24              258.0                  44.79
25-29               77.0                  13.37

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
#Create Bins & groups for age demographics summary
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
groups= ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+' ]

#Add bins to DF
pymoli_df['AgeGroup']=pd.cut(pymoli_df['Age'], bins, labels=groups)

#groupby age
age_group_df=pymoli_df.groupby(['AgeGroup'])

#create calculations for summary
purchases_by_age=age_group_df['Price'].count()
average_purchase_price_by_age=age_group_df['Price'].mean()
total_spent_by_age=age_group_df['Price'].sum()
average_total_by_person_by_age=total_spent_by_age/purchases_by_age

#Combine calculations into DF
age_purchase_summary_df=pd.DataFrame(purchases_by_age)
age_purchase_summary_df['Average Purchase by Age']=average_purchase_price_by_age
age_purchase_summary_df['Total Spent by Age']=total_spent_by_age
age_purchase_summary_df['Average Total Spent per Person by Age']=average_total_by_person_by_age

#clean formating
age_purchase_summary_df = age_purchase_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

age_purchase_summary_df

,Purchase Count,Average Purchase by Age,Total Spent by Age,Average Total Spent per Person by Age
AgeGroup,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
#Group by 'SN' 
user_purchases_df = pymoli_df.groupby(['SN'])

#Find purchase count, average purchase price, and total spent per SN
purchases_by_user = user_purchases_df['Price'].count()
average_purchase_by_user = user_purchases_df['Price'].mean()
total_purchases_by_user = user_purchases_df['Price'].sum()

#combine calculations into DF
user_purchase_summary_df = pd.DataFrame(purchases_by_user)
user_purchase_summary_df['Average Purchase Price per SN']=average_purchase_by_user
user_purchase_summary_df['Total Spent per User']=total_purchases_by_user

#clean up formating
user_purchase_summary_df = user_purchase_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

#Sort Highest to lowest on total purchase value
user_purchase_summary_df = user_purchase_summary_df.sort_values(by=['Total Spent per User'], ascending=False)
user_purchase_summary_df.head(5)

,Purchase Count,Average Purchase Price per SN,Total Spent per User
SN,,,
Lisosia93,5,3.792000,18.96
Idastidru52,4,3.862500,15.45
Chamjask73,3,4.610000,13.83
Iral74,4,3.405000,13.62
Iskadarya95,3,4.366667,13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
#Group by Item ID
pop_items_df=pymoli_df.groupby(['Item Name'])

#Calculate purchase count per item
purchases_by_item=pop_items_df['Price'].count()

#Find total value of purchases
revenue_by_item=pop_items_df['Price'].sum()

#Create summary dataframe
item_popularity_summary_df = pd.DataFrame(purchases_by_item)
item_popularity_summary_df['Total Purchase Value']=revenue_by_item

#clean formating
item_popularity_summary_df = item_popularity_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

#Top 5 most purchased 
item_popularity_summary_df = item_popularity_summary_df.sort_values(by=['Purchase Count'], ascending=False)
item_popularity_summary_df.head(5)

,Purchase Count,Total Purchase Value
Item Name,,
Final Critic,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
Persuasion,9,28.99
Nirvana,9,44.10
"Extraction, Quickblade Of Trembling Hands",9,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
#Rename dataframe
item_profitability_df = item_popularity_summary_df
item_profitability_df
#Sort Values to find top 5
top5_items = item_profitability_df.sort_values(by=['Total Purchase Value'], ascending=False)
top5_items.head()

,Purchase Count,Total Purchase Value
Item Name,,
Final Critic,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
Nirvana,9,44.10
Fiery Glass Crusader,9,41.22
Singed Scalpel,8,34.80